.testmain {
    display: inline-flex; /* or inline-flex */
    border: solid black;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start; /*выравнивание с начала */
    height: 558px;
    margin: 5px;
}

.itemtest {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: solid red;
    width: 375px;
    overflow: auto;

}

.testformessage{
    border: solid green;
    height: 100%;
    overflow: auto;
}
.testforbtn{
    border: solid yellow;
}


.mainmenu {
    display: inline-flex; /* or inline-flex */
    border: solid black;
    flex-direction: row;
    flex-wrap:nowrap;
    margin: 5px;
    justify-content: flex-start; /*выравнивание с начала */


}
.menuitem{
    text-decoration: none;

    background-color: #dddddd;
    padding: 8px;
}
.menuitem a{
    text-decoration: none;
    color: black;
}

.active {
    background-color: black;
    color: aliceblue;
    padding: 8px;
}

.active a {
    text-decoration: none;
    color: aliceblue;
}

.error {
    text-align: center;
    margin: auto;
    font-size: 5em
}